@page
@model Connect.IndexModel

@{
    ViewData["Title"] = "Connect";
}

<h1>Connect Page</h1>

<div style="margin-top: 20px;">
    <form id="form" method="post">
        <input id="comm-button" type="submit" value="Start Communication" class="btn btn-success" />
    </form>
</div>

<!-- Include jQuery for simplicity -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {

        $('#form').submit(function () {
            
            $('#comm-button').val('Communicating');
            $('#comm-button').prop('disabled', true);
            
            return true;
        });
    });
</script>
